@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap'); //remove this import statement


body{
    font-family: 'Hind', sans-serif;
    width: 80%;
    margin: auto;
        
        nav{
            display: flex;
            align-items:center;
            height: 100%;
            position: relative;
    
            .header-wrapper{
                header{
                    a{
                        display: flex;
                        align-items: center;
                        transition: transform 0.3s ease-in-out;
                        .logo-img{
                        display: block;
                        transition: transform 0.3s ease-in-out;
                    }
                        &:link{
                            color:#121212;
                            text-decoration: none;
                        }
                        &:hover{
                            color: #121212;
                            font-size: 1.3em;
                            transform: scale(1.1, 1.1);
                        }
                        &:visited{
                            color: #121212;
                        }
                        .website-name{
                            font-size: 20px;
                            transition: 0.3s;
                        }
                    }
                }
            }
            
            .nav-wrapper{
                margin: 0 60px 0;
                max-width: 500px;
                font-size: 18px;
                max-height: 65px;
    
                ul{
                    padding: 0;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    gap: 0.8rem;
    
                    li{
                            margin: 0px 10px 0px;
                            list-style: none;
                            text-decoration: none;
                            width: 90px; 
                        a{  
                            transition: transform 0.3s ease-in-out;
                            transition: 0.3s;
                            &:link{
                                color:#121212;
                                text-decoration: none;
                                transform: scale(1.1, 1.1);
                            }
                            &:hover{
                                color: #121212;
                                font-size: 1.1em;
                            }
                            &:visited{
                                color: #121212;
                            }
                        }
                    }
                        
                }
               
            }
            .search-container{
                display: flex;
                position: relative;
                right: 10px;
                align-items: center;
                justify-content: center;
                border-radius: 100px;
                max-height: 40px;
                max-width: 224px;
                margin: 0 80px 0 0;
                background-color: #ECECEC;
                flex-shrink: 0;
                transition: transform 0.3s ease-in-out;
                    &:hover{
                        text-decoration: none;
                        transform: scale(1.1, 1.1);
                    }
    
                .search-bar{
                    display: flex;
                    justify-content: center;
                    
                    .magnifier{
                        padding: 20px 0 20px 15px;
                    }
                    .search-placeholder{
                        padding: 0 0 0 20px;
                        font-size: 16px;
                        border: none;
                        background-color: transparent;
                        outline: none;
                        opacity: 60%;  
                    }
                }
            }
    
            
        }

    }
       
    .posts{
        .head-post-wrapper{
            .main-image{
                max-width: 100%;
                height: auto;
            }
            .head-post-content{
                .main-title{
                    h1{
                        font-weight: 400;
                        font-size: 24px;
                        border: 1px solid aqua;
                    } 
                }
                .author{
                    .position{
                        opacity: 50%;
                    }
                }
            } 
        }
    }